.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      ),
      url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-color: black;
  }
  h1{
        color: rgb(77, 1, 77);
        text-align: center;
        
  }
  input{
    margin: 6px 0px;
    border-radius: 5px;
    border:none;
} 
td{
    padding: 1px;
}
.m{
    margin-right: 6px;
    padding:8px
}
label{
    margin-right: 10px;
}